<% layout('layouts/boilerpalte') -%> 
<!-- to insert this page in main part of boilerpaltewhere body tag inserted  -->

<nav class="mb-5">
  <%- include('../partials/navebar') -%>
</nav>

<div class="row" style="display: flex;justify-content: center;">
  <div class="col-md-12 mt-5 text-center" style="width:40%">
    <input type="text" id="searchBar" class="form-control" placeholder="Search for items..." oninput="filterProducts()">
  </div>
</div>

<div class="row">
  <h2 class="text-center">Lost Items</h2>
    <% for( let product of lostproducts){ %>
    <div class="col-md-4 product-card">
      <!-- placed card  -->
      <div class="card mx-auto mt-3 shadow-lg " stylne="width: 18rem;border-radius: 20px; height: max-content;">
        <img src= "<%=product.img%>" class="card-img-top" alt="..." style=" padding: 10px; height:200px">
        <div class="card-body">
          <h5 class="card-title"><%= product.name %></h5>
          <p class="card-text"><%= product.dec %></p>
          <!-- <h5 class="card-title"><%= product.tag %></h5> -->
          <a href="/products/<%=product._id%>" class="btn btn-primary">View</a>
        </div>
      </div> 
      <!-- placed card  --> 
      
    </div>
    <%}%>
</div>

<div class="row">
  <h2 class="text-center">Found Items</h2>
    <% for( let product of foundproducts){ %>
    <div class="col-md-4 product-card">
      <!-- placed card  -->
      <div class="card mx-auto mt-5 shadow-lg " stylne="width: 18rem;border-radius: 20px; height: max-content;">
        <img src= "<%=product.img%>" class="card-img-top" alt="..." style=" padding: 10px; height:200px">
        <div class="card-body">
          <h5 class="card-title"><%= product.name %></h5>
          <p class="card-text"><%= product.dec %></p>
          <!-- <h5 class="card-title"><%= product.tag %></h5> -->
          <a href="/products/<%=product._id%>" class="btn btn-primary">View</a>
        </div>
      </div> 
      <!-- placed card  --> 
      
    </div>
    <%}%>
   
</div>

<script>
  function filterProducts() {
    const searchValue = document.getElementById('searchBar').value.toLowerCase();
    const productCards = document.querySelectorAll('.product-card');

    productCards.forEach(card => {
      const productName = card.querySelector('.card-title').textContent.toLowerCase();
      if (productName.includes(searchValue)) {
        card.style.display = '';
      } else {
        card.style.display = 'none';
      }
    });
  }
</script>
