
<% layout('layouts/boilerpalte') -%> 
<nav class="mb-5">
  <%- include('../partials/navebar') -%>
</nav>

<div class="row">
 <div class="col-lg-12">
  <h1 class="h2 text-center mt-5">Product Detail</h1>
      <div class="card mx-auto mt-5 shadow-lg " style="width: 35rem;border-radius: 20px; height: max-content;">
        <img src= "<%=product.img%>" class="card-img-top" alt="..." style=" padding: 10px; height:200px">
        <div class="card-body">
          <p class="card-title"><strong>Product Name : </strong> <%= product.name %></p>
          <p class="card-text"><strong>Description : </strong> : <%= product.dec %></p>
          <p class="card-title"><strong>Contact Email :</strong> <%= product.contactemail %></p>
          <p class="card-title"><strong>Contact Number :</strong> <%= product.contactphone %></p>
          
          <form action="/products/<%=product.id%>?_method=DELETE" method="POST">
            <a href="/products/<%=product._id%>/edit" class="btn btn-primary btn-sm">EDIT</a>
            <button class="btn btn-danger btn-sm mt-1">DELETE</button>
         </form>
          
        </div>
      </div> 


 </div>

</div>